@model dynamic

@{
}

<!DOCTYPE html>

<html>
    <head>
        <title>title</title>
    </head>
    <body>
        <div>
            Authorized 2
            <a href="http://localhost:63008/Authorized">Authorized 1</a>
        </div>
    </body>
</html>