@model dynamic

@{
}

<!DOCTYPE html>

<html>
    <head>
        <title>CTM - Motor</title>
    </head>
    <body>
        <div>
            @Html.ActionLink("Secure page", "Index", "Authorized")
        </div>
    </body>
</html>