@model dynamic

@{
}

<!DOCTYPE html>

<html>
    <head>
        <title>title</title>
    </head>
    <body>
        <div>
            Authorized 1
            <a href="http://localhost:56763/Authorized">Authorized 2</a>
        </div>
    </body>
</html>